/*
 * Author: Jefferson Gomes
 * Version: 0.1
 */

/* ======================== */

html, body, .login-screen {
    height: 100%;
}

.arcticle-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navbar */
.navbar-color {
    background-color: #7c6f91;
}

.navbar-margin {
    margin-top: 80px;
}

/* Login screen */
.login-screen {
    display: table;
    width: 100%;
}

.login-content {
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
}

.login-bg {
    background-color: rgba(255, 255, 255, 0.9);
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.login-form {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login-alert {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.login-bg-img {
    background-image: url("../images/bg.jpg");
}

/* Error screen */
.error-bg {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 40px;
}

/* buttons */
.button-color {
background-color: #3e3748 !important;
color: white;
}
.button-color:hover {
    background-color: #0b6063 !important;
}

/* Tipography */
h1 {
    color: #0b6063 !important;
}

