<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>

    <section class="container">
        <article class="row">
            <div class="col-md-6">
                <h1>Poxa vida!<br>Você não fez login...</h1>
                <p>Realize o login utilizando seu nome de usuário e senha antes de acessar esta página.</p>
                <form>
                    <button class="btn btn-info my-2 my-sm-0" type="submit" formaction="/" formmethod="GET">Voltar ao login</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="images/unicornio-deslogado.jpg" alt="Unicórnio triste porque está deslogado">
            </div>
        </article>
    </section>

    <% include footer %>
</body>
</html>