<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <section class="login-screen">
        <article class="login-content">
            <form class="form-group my-2 my-lg-0 login-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Nickname" aria-label="Nickname" /><br />
                <input class="form-control mr-sm-2" type="text" placeholder="Senha" aria-label="Senha" /><br />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Cadastrar</button>
            </form>
        </article>
    </section>
    <% include footer %>
</body>
</html>