<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <section class="login-screen">
        <article class="login-content">

            <% if(valid.length > 0){ %>
                <div class="alert alert-danger login-alert">
                    <strong>Atenção!</strong>
                    <ul>
                        <% for(var i=0; i < valid.length; i++){ %>
                            <li><%= valid[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
            <% } %>

            <form class="form-group my-2 my-lg-0 login-form" action="/authenticate" method="POST">
                <h1>Login</h1>
                <hr /><br />
                <input class="form-control mr-sm-2" type="text" name="nickname" placeholder="Nickname" aria-label="Nickname" /><br />
                <input class="form-control mr-sm-2" type="password" name="password" placeholder="Senha" aria-label="Senha" /><br />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" formaction="/cadastro" formmethod="GET">Cadastrar</button>
            </form>
        </article>
    </section>
    <% include footer %>
</body>
</html>