<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <nav class="navbar">
        <input type="submit" class="btn btn-success" value="Cadastrar" />
    </nav>

    <% include footer %>
</body>
</html>