<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body class="login-bg-img">
    <section class="login-screen">
        <article class="login-content">

            <div class="login-bg">
                <% if(valid.length > 0){ %>
                    <div class="alert alert-danger login-alert">
                        <strong>Atenção!</strong>
                        <ul>
                            <% for(var i=0; i < valid.length; i++){ %>
                                <li><%= valid[i].msg %></li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>

                <div class="text-center">
                    <img src="images/libraria-libris-logo-min.png" alt="Logo do sistema de biblioteca Librária Libris" class="">
                </div>

                <form class="form-group my-2 my-lg-0 login-form text-center" action="/authenticate" method="POST">
                    <hr /><br />
                    <input class="form-control mr-sm-2" type="text" name="nickname" placeholder="Nickname" aria-label="Nickname" /><br />
                    <input class="form-control mr-sm-2" type="password" name="password" placeholder="Senha" aria-label="Senha" /><br />
                    <button class="btn button-color my-2 my-sm-0" type="submit">Entrar</button>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" formaction="/cadastro" formmethod="GET">Cadastrar</button>
                </form>
            </div>
        </article>
    </section>
    <% include footer %>
</body>
</html>