<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <section class="login-screen">
        <article class="login-content">
            <h1>Teste</h1>
            
        </article>
    </section>
    <% include footer %>
</body>
</html>