<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <% include navbar %>
    <section class="container navbar-margin">
        <h1>TBR</h1>
        <hr /><br />

        <div class="row">
            <article class="col-md-3">
                <form class="form-group" action="/generate_tbr" method="post">
                    <label for="books">Livros por mês:</label>
                    <select class="form-control" name="books" id="books">
                        <option value="0">Escolha a quantidade</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <hr>
                    <input class="btn button-color" type="submit" value="Gerar TBR" />
                </form>
            </article>
            <article class="col-md-9">
                <ul>
                    <% var month = [
                        "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
                        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
                    ];
                    var range = month.length * books.books;
                    if(data.length > 0){
                        for(var i=0; i < month.length; i++){
                            %><li><%=month[i]%></li>
                            <ul><%
                            for(var j=0; j < books.books; j++){
                                var random = Math.floor((Math.random() * range));
                                if(data[j].genre != data[random].genre){
                                    %><li><%=data[random].title%></li><%
                                }
                            }
                            %></ul><%
                        }
                    }
                    else {
                        %><h2>TBR ainda não gerada!</h2>
                        <p>Clique no botão ao lado para gerar a lista de livros deste ano.</p><%
                    } %>
                </ul>
            </article>
        </div>
    </section>
    <% include footer %>
</body>
</html>